{% load staticfiles %} {% load material_form %}
{% include 'material/includes/material_css.html' %} {% include 'material/includes/material_js.html' %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Compra Tarjeta </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scalable">
</head>

<body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">PAGO CON TARJETA</a>
        <a href="#" class="brand-logo center"><img src="{% static 'images/hola.png' %}" alt=""></a>
        <input type="radio" name="modal" id="abrir-modal">
        <label for="abrir-modal" class="waves-effect waves-light ">Mostrar Grafo</label>
        <input type="radio" name="modal" id="cerrar-modal">
        <label for="cerrar-modal">x</label>
        <div id="modal">
          <p>Grafo</p>
          <img id="uno" src="{% static 'images/grafo3.png' %}" alt="">
          <img id="dos" src="{% static 'images/grafo8.png' %}" alt="">
        </div>
      </div>
      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">

            <h1 class="header center">LLENA LOS DATOS</h1>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row " id="j">
          <div class="col l6 m6 s12 offset-l3 offset-m3">
              <section class="menu z-depth-5 col l12 m12 s12" id="correo">
                <form method="POST">
                  {% csrf_token %}
                  {% form form=form %}{% endform %}
                  <button type="submit" name="_submit" class="btn">Aceptar</a>
              </section>
          </div>
      </div>
    </div>
  </div>
</div>
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
</body>
</html>
