{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Concierto 2</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">CONCIERTO 2</a>
        <a href="#" class="brand-logo center"><img src="{% static 'images/hola.png' %}" alt=""></a>
        <input type="radio" name="modal" id="abrir-modal">
        <label for="abrir-modal" class="waves-effect waves-light ">Mostrar Grafo</label>
        <input type="radio" name="modal" id="cerrar-modal">
        <label for="cerrar-modal">x</label>
        <div id="modal">
          <p>Etapa del grafo</p>
          <img src="{% static 'images/grafo7.png' %}" alt="">
        </div>
      </div>
      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">

            <h1 class="header center ">FORMAS DE PAGO</h1>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">

      <div class="col l6" id="im1">
        <img src="{% static 'images/visa_mastercard_logo.png' %}" class="col l9 offset-l2" alt="credito">
        <a href="{% url 'pago_boletos' %}" class="waves-effect waves-light btn col l9 offset-l2 blue darken-4">Tarjetas</a>
      </div>
      <div class="col l6" id="im1">
        <img src="{% static 'images/deposito.png' %}" class="col l5 offset-l5" alt="credito">
        <a href="{% url 'email_comprobar' %}" class="waves-effect waves-light btn col l5 offset-l5 blue darken-4">Deposito Bancario</a>
      </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
  </body>
</html>
